/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 7 de jan. de 2025, 16:37:19
    Author     : luiz.souza
*/


*   {
    margin: 0;
    padding: 0;
        
    }
    
    
body{
        
/*        display: block;
        height: 3vh
        width: 10vw;
        margin-top: 50%;
        margin-bottom: 50%;
        margin-left: 30%;
        margin-right: 30%;
        align-content: stretch;
        text-align: center;*/
    height: 100%;
    display: flex;
    align-items: center; 
    justify-content: center; 
        
    }
    div{
/*position: absolute;
top: 0; bottom: 0;
left: 0; right: 0;
margin: auto;        */


/*position: relative;
top: 50%;
transform: translateY(-50%); */
    }